*.egg-info*
*work*
*__pycache__*
*.pdf
*.png
*write_data*
*~
*.pyc
# *.html
*.out
*DS_Store*
# *_build*
.vscode/
*.stl
*.csv
*.pvd
*.msh
*.vtk
*.xml
*.h5
*.vtu
*optimization_output.txt*
.idea
*get_layout.py
*test_lce_heat_transfer.py
*thermo_mechanical_uniform_temp_test.py